# Maven build output
target/

# TestNG test reports
test-output/

# VS Code project settings
.vscode/

.env

#Result files
reports/

screenshots/



hs_err_pid6976.log
replay_pid6976.log
src/test/resources/testdata/Modules/10_Catalogue/Catalogue/01_CatalogueTest.xlsx
failed_Testcases_Screenshots/2026-04-20_11-39/CatalogueTest_04_113922.png
