# Maven build output
target/

# TestNG test reports
test-output/

# VS Code project settings
.vscode/

.env

#Result files
reports/



hs_err_pid6976.log
replay_pid6976.log
src/test/resources/testdata/Modules/10_Catalogue/Catalogue/01_CatalogueTest.xlsx
